{
  "printWidth": 120,
  "quoteProps": "preserve",
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf"
}
